<section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="home">Online Duken</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%if (activePage === 'home'){ %> active <% }%>">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item <%if (activePage === 'index'){ %> active <% }%>">
                    <a class="nav-link" href="/">Products <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item <%if (activePage === 'restaurants'){ %> active <% }%>">
                    <a class="nav-link" href="tastamats">Tastamats</a>
                </li>
            </ul>
            <span class="navbar-text">
                <%if (isAuth === 'true') {%>
                <a href="auth/logout" class="signbutton">Log out</a>
                    <span>|</span>
                <a href="/admin" class="signbutton">Admin Page</a>
                <%} else {%>
                <a href="auth" class="signbutton">Authorization</a>
                <%}%>
            </span>
        </div>
    </nav>
</section>